RewriteEngine On

# Route pour l'accueil
RewriteRule ^accueil$ views/templates/accueil.html [L]

# Route pour la page d'inscription et de connexion
RewriteRule ^login$ views/templates/login.html [L]

# Route pour la page d'accueil USER
RewriteRule ^accueilUser$ views/templates/accueilUser.html [L]

# Route pour la page de profil
RewriteRule ^profil$ views/profil.php [L]

# Route pour la page de contact
RewriteRule ^contact$ views/templates/contact.html [L]

# Route pour la page de cv
RewriteRule ^cv$ views/templates/cv.html [L]

# Route pour la page de show_cv
RewriteRule ^mescv$ views/show_cv.php [L]