RewriteEngine On

# Route pour l'accueil
RewriteRule ^accueil$ static/accueil.html [L]

# Route pour la page d'inscription et de connexion
RewriteRule ^login$ static/login.html [L]

# Route pour la page d'accueil USER
RewriteRule ^accueilUser$ accueil.php [L]

# Route pour la page de profil
RewriteRule ^profil$ static/profil.html [L]

# Route pour la page de contact
RewriteRule ^contact$ static/contact.html [L]