/* Mode clair (par défaut) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #f8f9fa;
    --nav-link-hover-bg: #e9ecef;
    --hero-bg-color: #f0f0f0;
    --about-bg-color: #ffffff;
    --projects-bg-color: #f9f9f9;
    --project-bg-color: #ffffff;
    --footer-bg-color: #f8f9fa;
    --button-bg-color: #00bfa6;
    --button-hover-bg: #008573;
}

/* Mode sombre */
body.dark-mode {
    --background-color: #1e1e1e;
    --text-color: #f4f4f9;
    --header-bg-color: #444;
    --nav-link-hover-bg: #555;
    --hero-bg-color: #2c2c2c;
    --about-bg-color: #2e2e2e;
    --projects-bg-color: #3a3a3a;
    --project-bg-color: #333;
    --footer-bg-color: #444;
    --button-bg-color: #00796b;
    --button-hover-bg: #004d40;
}

body {
    margin: 0;
    font-family: 'Free mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden; /* Évite le débordement horizontal */
}

header {
    background-color: var(--header-bg-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
    margin-left: 470px;
}

.links {
    display: flex;
    margin-left: 410px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--nav-link-hover-bg);
    border-radius: 5px;
}

.cv-container {
    display: flex; 
    flex-wrap: wrap;
}

.cv-section, .cv-upload-section {
    box-sizing: border-box; 
    padding: 50px 20px;
    background-color: var(--section-bg-color);
    text-align: center;
}

.input-group textarea {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: none;
}

.cv-section {
    flex: 0 0 60%; 
    padding: 50px 20px;
    background-color: var(--section-bg-color);
    text-align: center;
}

.cv-upload-section {
    flex: 0 0 40%; 
    padding: 50px 20px;
    background-color: var(--section-bg-color);
    text-align: center;
    border-left: 4px solid #ddd; 
}

.cv-section h2, .cv-upload-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.btn {
    background-color: var(--button-bg-color);
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    background-color: #444f5b; /* Couleur de fond bleu */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 6px; /* Coins arrondis */
    padding: 10px 15px; /* Espace intérieur */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    margin-left: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.btn:hover {
    background-color: var(--button-hover-bg);
}

.back-button:hover {
    background-color: #1a538d; /* Couleur de fond en survol */
}

footer {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}


/* Toggle Switch */
.switch {
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Ajustement pour les petits écrans */
@media (max-width: 768px) {
    .cv-section, .cv-upload-section {
        flex: 0 0 100%; /* Sur petits écrans, chaque section prend 100% de la largeur */
        margin-bottom: 20px; /* Ajoute un espacement entre les sections */
    }
}
