/* Variables de couleurs */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #f8f9fa;
    --nav-link-hover-bg: #e9ecef;
    --hero-bg-color: #f0f0f0;
    --about-bg-color: #ffffff;
    --projects-bg-color: #f9f9f9;
    --project-bg-color: #ffffff;
    --footer-bg-color: #f8f9fa;
    --button-bg-color: #00bfa6;
    --button-hover-bg: #008573;
}

/* Mode sombre */
body.dark-mode {
    --background-color: #1e1e1e;
    --text-color: #f4f4f9;
    --header-bg-color: #444;
    --nav-link-hover-bg: #555;
    --hero-bg-color: #2c2c2c;
    --about-bg-color: #2e2e2e;
    --projects-bg-color: #3a3a3a;
    --project-bg-color: #333;
    --footer-bg-color: #444;
    --button-bg-color: #00796b;
    --button-hover-bg: #004d40;
}

/* Styles généraux */
body {
    font-family: 'Free mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100vh;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 35px;
    background-color: #948b8b;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 60px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
}

/* Profil */
.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    width: 100vh;
    height: 80%;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 80vh;
    margin-top: 2.5vh;
    margin-bottom: 20px;
}

/* Profil image */
.profile-pic {
    width: 150px;
    height: 150px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

#profile-image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
}

/* Section info */
.info-section {
    padding: 40px;
    border-radius: 10px;
    width: 50vh;
    font-size: 20px;
}

.info-section .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-section .info-item span {
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

/* Liens */
.links-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.links-section a {
    padding: 10px;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    width: calc(100% / 4 - 10px);
}

.links-section a:hover {
    color: white;
}

.links-section #google-link:hover {
    background: linear-gradient(135deg, #4285F4 25%, #34A853 25%, #FBBC05 50%, #EA4335 75%);
}

.links-section #github-link:hover {
    background: white;
    color: black;
}

.links-section #facebook-link:hover {
    background: linear-gradient(135deg, #00A4E4, #1877F2);
}

/* Boutons */
.back-button{
    font-size: 20px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    cursor: pointer;
}


/* Toggle Switch */
.switch {
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
